
.build/
build/
*.dSYM
DerivedData/
.DS_Store
.AppleDouble
.LSOverride
build.sh
Tools/
/*.png
Resources/AppIcon.iconset/
Resources/AppIcon_1024.png
.idea/
*.swp
*.swo
*~
.vscode/
*.xcuserstate
xcuserdata/
